**/dist
tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo
.log
**/.env*
.dockerignore
**/Dockerfile
**/compose.*.yaml
**/node_modules
packages/eslint-config
**/eslint.config.ts
**/vitest.config.ts
**/.next
**/out
**/*.test.ts