@import "../../../packages/ui/src/globals.css";

#root {
  height: 100%;
  padding-top: 0rem;
  display: flex;
  flex-direction: column;

  &.main-layout {
    padding-top: 4rem;
  }
}

@theme {
  --breakpoint-small: 25rem;
  --breakpoint-very-small: 21.875rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-chart: 56.25rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
}
